.login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.51),
      rgba(102, 102, 102, 0)
    ),
    url("../../assets/images/backgroundLogin.svg");
  background-size: 105%, 105%;
  background-position: right;
}

.login_card {
  height: 65%;
  width: 30%;
  border-radius: 24px;
  background: #ffffffd1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_card_header {
  height: 45%;
  width: 100%;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.login_card_header > img {
  height: 60%;
}
.login_card_form {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login_card_form > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}
.login_card_form > form > div {
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.login_card_form > form > div:last-child {
  height: 3rem;
  margin-top: 2rem;
}
.login_card_form > form > div:last-child > button {
  background: var(--secondary-color);
}
.login_card_form > form > div:last-child > button:hover {
  border: 1px solid var(--primary-color);
}
.login_card_form > form > div > div > input {
  height: 2.5rem;
}
.login_card_form > p {
  margin-top: 0.3rem;
  font-family: var(--text-font);
  color: #63636393;
  font-size: 14px;
}
.login_card_form > p > span {
  font-family: var(--text-font);
  color: #636363;
  text-decoration: underline;
}
