@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #020b27;
  --secondary-color: #b99061;
  --white-color: #ffffff;
  --grey-color-opacity: #e7e7e780;
  --grey-color: #bebebee6;
  --text-font: "Bona Nova", serif;
}
