.inputPerson_chevron {
  position: absolute;
  margin-top: -0.7rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  color: var(--dark-grey);
  opacity: 0.9;
  cursor: pointer;
}
.inputPerson_select {
  height: 100%;
  width: 100%;
  padding-inline: 1rem;
  border: none;
  outline: none;
  font-family: var(--text-font);
  color: var(--dark-grey);
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 17px;
  cursor: pointer;
}
